.chevron-chart {
  display: flex;
  margin-top: 2rem;
  width: 100vw;
  overflow: hidden;
}

.chevron {
  flex: 1;
  height: 8rem;
  position: relative;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 50% 50%);
}

.segment-1 {
  background-color: #FF5733;
}

.segment-2 {
  background-color: #C70039;
}

.segment-3 {
  background-color: #900C3F;
}

.segment-4 {
  background-color: #4b031f;
}

@media (max-width: 600px) {
  .chevron-chart {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .chevron {
    width: 100%;
    clip-path: polygon(50% 50%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}
